<div class="menu">
    <ul>
        <li><a href="@Url.Action("SendMessage", "Home")">Отправка сообщения</a></li>
        <li><a href="@Url.Action("Authorization", "Home")">Авторизация</a></li>
    </ul>
</div>
