<div class="menu">
    <ul>
        <li><a href="@Url.Action("SendMessage", "Home")">Sending a message</a></li>
        <li><a href="@Url.Action("Authorization", "Home")">Authorization</a></li>
    </ul>
</div>
